<div id="ChooseProg_Div">
  <div class="row">
    <div class="col">
      <h3 id="Program_Field_Title"> Choose a Program:</h3>
    </div>
    <div class="col">
      <select name="sources" class="custom-select sources" placeholder="Select a Programme" id="ProgramTitleOption">
    </select>
    </div>
  </div>
</div>
<%= form_with(model: viewing_form, local: true) do |form| %>
  <% if viewing_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(viewing_form.errors.count, "error") %> prohibited this viewing_form from being saved:</h2>

      <ul>
      <% viewing_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="ViewingForm">
    <div id="ViewingFormTitle">
      <%= image_tag "Alaraby_Alyoum_Bug.png", alt: "program_logo", id: "Prog_logo" %>
      <h5>ALARABY ALYOUM Viewing Form</h5>
    </div>

    <div class="row">
      <div class="col">
        <div class="row-in">
          <%= label_tag 'name', nil, class: 'col-30' %>
          <%= text_field_tag 'senderName', current_user.full_name, disabled: true, class: "col-70" %>
        </div>
        <div class="row-in">
          <%= label_tag 'email', nil, class: 'col-30' %>
          <%= text_field_tag 'senderEmail', current_user.email, disabled: true, class: "col-70" %>
        </div>
        <div class="row-in">
          <%= form.label :contact_number, 'Contact No', class: 'col-30' %>
          <%= form.number_field :contact_number, placeholder: "Enter your mobile", id: "ContactNo", class: "col-70" %>
        </div>
        <div class="row-in">
          <%= form.label :ingest_date, class: 'col-30' %>
          <%= form.date_field :ingest_date, id: "IngestDate", class: "col-70" %>
        </div>
        <div class="row-in">
          <%= form.label :aspect_ratio, class: 'col-30' %>
          <%= form.select :aspect_ratio, options_for_select(['16:9', '4:3']), {}, id: "AspectRatio", class: "col-70" %>
        </div>
      </div>
      <div class="col">
        <div class="row-in">
          <%= label_tag :date, nil, class: 'col-30' %>
          <%= text_field_tag :date, Date.today.strftime("%d/%m/%Y") , placeholder: "Date", disabled: true, id: "TodayDate", class: "col-70" %>
        </div>
        <div class="row-in">
          <%= form.label :program_title, class: 'col-30' %>
          <%= form.text_field :program_title, value: "ALARABY ALYOUM", placeholder: "Programme Title", disabled: true, id: "ProgTitle", class: "col-70" %>
        </div>
        <div class="row-in">
          <%= form.label :program_id, 'Program ID', class: 'col-30' %>
          <%= form.text_field :program_title, placeholder: "Enter Program ID", id: "ProgID", class: "col-70" %>
        </div>
        <div class="row-in">
          <%= form.label :tx_date, 'TX Date', class: 'col-30' %>
          <%= form.date_field :tx_date, placeholder: "TX Date", id: "TXDate", class: "col-70" %>
          
        </div>
        <div class="row-in">
          <%= form.label :number_of_parts, 'No of parts', class: 'col-30' %>
          <%= form.select :number_of_parts, options_for_select([1, 2, 3, 4, 5, 6, 7, 8]), {}, id: "NoOfParts", class: "col-70" %>
        </div>
      </div>
    </div>

    <!-- Parts Info -->
    <div class="Titled-row" id="Row1">
      <div id="RowTitle">
        <h3>Part: 1</h3>
      </div>
      <div class="row">
        <div class="col">
          <div class="row-in">
            <label class="col-30">IN</label>
            <input type="text" class="col-70 calc" placeholder="HH:MM:SS:FF" value="00:00:00:00" id="Row1IN" pattern="([0-9][0-9]):([0-5][0-9]):([0-5][0-9]):([0-2][0-4])">
          </div>
          <div class="row-in">
            <label class="col-30">OUT</label>
            <input type="text" class="col-70 calc" placeholder="HH:MM:SS:FF" id="Row1OUT" pattern="([0-9][0-9]):([0-5][0-9]):([0-5][0-9]):([0-2][0-4])">
          </div>
          <div class="row-in">
            <label class="col-30">DUR</label>
            <input type="text" class="col-70" placeholder="HH:MM:SS:FF" id="Row1DUR" disabled="disabled" pattern="([0-9][0-9]):([0-5][0-9]):([0-5][0-9]):([0-2][0-4])">
          </div>
        </div>
        <div class="col">
          <div class="comments-row">
            <label class="col-3">Notes</label>
            <textarea rows="4" cols="50" id="Row1Notes"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="editor"></div>
  <div id="BtnsDiv">
    <div class="row">
      <div class="col">
        <button id="sendForm" class="button">Send Form</button>
      </div>
      <!-- <div class="column">
        <button id="SavePDFBtn" class="button">Save PDF</button>
      </div> -->
      <div class="col">
        <button id="PrintFormBtn" class="button">Print Form</button>
      </div>
    </div>
  </div>
<% end %>

