<div id="ViewingForm">
  <div id="ViewingFormTitle">
    <h5>Viewing Forms</h5>
  </div>
  <div class="ButonsDiv">
    <div class="row justify-content-end">
      <div class="col">
        <%= link_to 'New Viewing Form', new_viewing_form_path, class: "btn btn-sm btn-info float-right" %>  
      </div> 
    </div>
  </div>

  <table class="table table-sm table-striped">
    <thead class="table-info">
      <tr>
        <th>Programme Title</th>
        <th>Programme ID</th>
        <th>Ingest Date</th>
        <th>Tx Date</th>
        <th>Parts</th>
        <th>Creation Date</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @viewing_forms.each do |viewing_form| %>
        <tr>
          <td><%= viewing_form.program_title %></td>
          <td><%= viewing_form.program_id %></td>
          <td><%= viewing_form.ingest_date.to_date %></td>
          <td><%= viewing_form.tx_date.to_date %></td>
          <td><%= viewing_form.number_of_parts %></td>
          <td><%= viewing_form.created_at.to_date %></td>
          <td><%= link_to 'View', viewing_form, class: 'badge badge-info' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row">
    <div class="col">
      <p  style="color: #c19a68"><%= page_entries_info @viewing_forms, entry_name: 'form' %></p>
    </div>
    <div class="col">
      <%= paginate @viewing_forms, window: 2 %>
    </div>
  </div>
</div>

