<p id="notice"><%= notice %></p>

<div id="ViewingForm">
  <div id="ViewingFormTitle">
    <h4>Viewing Forms</h4>
  </div>

  <table class="table table-sm table-striped">
    <thead class="table-primary">
      <tr>
        <th>Program title</th>
        <th>Program ID</th>
        <th>Ingest date</th>
        <th>Tx date</th>
        <th>Number of parts</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @viewing_forms.each do |viewing_form| %>
        <tr>
          <td><%= viewing_form.program_title %></td>
          <td><%= viewing_form.program_id %></td>
          <td><%= viewing_form.ingest_date.to_date %></td>
          <td><%= viewing_form.tx_date.to_date %></td>
          <td><%= viewing_form.number_of_parts %></td>
          <td><%= link_to 'View', viewing_form, class: 'badge badge-info' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Viewing Form', new_viewing_form_path %>
