<!DOCTYPE html>
<html>
  <head>
    <title>ATN Viewing Form</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= alertify_flash %>
  </head>

  <body id="ProjBody">
    <%= render  'partials/header' %>
    <div id="MainContent"> 
      <%= yield %>
    </div>
    <%= render 'partials/footer' %>

    <script type="text/javascript">
      $(function() {
        $('[data-toggle="tooltip"]').tooltip(
          {
            delay: { "show": 200, "hide": 100 },
            title: 'Coming Soon!'
          }
        );
      });
    </script>
  </body>
</html>
